*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

*.apk
*.ap_
*.aab

*.class

bin/
gen/

.classpath
.project
.settings/

lint/
lint/intermediates/
lint/generated/
lint/outputs/
lint/tmp/

captures/

output.json

*.jks
*.keystore

google-services.json

.navigation/

freeline.py
freeline/
freeline_project_description.json

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/readme.md

vcs.xml
*.hprof
